.contact {
  padding: 8rem 0rem;
  background: radial-gradient(
    25.07% 41.67% at 31.63% 88.91%,
    #5dfed6 0%,
    rgba(93, 254, 214, 0) 100%
  );
  position: relative;
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  font-size: 3.6rem;
  letter-spacing: -0.015em;
}

.contact__form {
  width: 100%;
  max-width: 42rem;
  padding: 3.2rem;
  background-color: var(--white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 3.2rem;
}

.contact__input {
  width: 100%;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;
  color: var(--dark-gray);
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid var(--light-gray);
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  border-radius: 4px;
  outline: none;
}

.contact__input--textarea {
  height: 18.8rem;
  font-family: 'Roboto', sans-serif;
  resize: none;
  margin-top: 1.6rem;
}

.contact__input::placeholder {
  color: var(--dark-gray);
}

.contact__input:hover {
  border-color: var(--gray);
}

.contact__input:focus {
  border-color: var(--green);
}

.contact__terms {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.contact__checkbox {
  appearance: none;
  background-color: var(--light-gray);
  margin: 0;
  font: inherit;
  min-width: 2rem;
  height: 2rem;
  border: 1px solid var(--gray);
  border-radius: 4px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.contact__checkbox:checked {
  background-color: var(--green);
  border-color: var(--green);
}

.contact__checkbox:checked::before {
  content: '';
  width: 11.96px;
  height: 9.62px;
  margin-left: 2px;
  background-image: url('../../assets/images/checkmark.svg');
  background-position: center;
}

.contact__declaration {
  font-size: 1.4rem;
  line-height: 150%;
  cursor: pointer;
  user-select: none;
}

.contact__sumbmit {
  width: 100%;
  height: 4.5rem;
  margin-top: 1.6rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: var(--light-green);
  text-transform: uppercase;
  color: var(--dark-gray);
  letter-spacing: 0.1em;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.contact__sumbmit:disabled {
  cursor: default;
}

.contact__sumbmit:hover:not([disabled]) {
  background-color: var(--green);
}
