.loader {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #e5e5e5;
  border-radius: 50%;
  border-top-color: var(--dark-gray);
  animation: rotate infinite 1s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
