.overlay {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(52, 52, 52, 0.5);
}

.modal {
  width: 100%;
  max-width: 38.2rem;
  min-height: 11.5rem;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: relative;
  padding: 1.6rem;
  margin: 0 3rem;
  animation: modalEntry 0.2s ease;

  &__message {
    font-size: 2.4rem;
    letter-spacing: -0.015em;
    line-height: 2.3rem;
    margin-top: 1.6rem;
    text-align: start;
    padding: 1rem;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__close {
    background-color: transparent;
    border: none;
    margin: 0;
  }

  @media screen and (max-width: 680px) {
    & {
      min-height: 15.6rem;
    }

    &__message {
      line-height: 3.2rem;
    }
  }
}

@keyframes modalEntry {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}
