.footer {
  padding: 8rem 0rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e2e2e2;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__guides {
  display: flex;
  gap: 3.2rem;
}

.footer__guide {
  width: 20rem;
}

.footer__topic {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.015em;
}

.footer__links {
  margin-top: 1.6rem;
}

.footer__links li:not(:first-child) {
  margin-top: 4px;
}

.footer__anchor {
  font-size: 1.6rem;
  letter-spacing: -0.015em;
  transition: all 0.4s ease;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: var(--dark-gray);
}

.footer__anchor:hover {
  text-decoration-color: var(--dark-gray);
}

.footer__divider {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--light-green);
  margin: 6.2rem 0rem;
}

.footer__copyright {
  text-align: center;
  letter-spacing: -0.015em;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-gray);
}

@media screen and (max-width: 1140px) {
  .footer__guide {
    width: auto;
  }
}

@media screen and (max-width: 680px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__guides {
    flex-direction: column;
    margin-top: 6.4rem;
  }

  .footer__guide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__links {
    text-align: center;
  }
}
